* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.nav-bar {
  width: 100%;
  height: 80px;
  background-color: #a2d729;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.nav-container {
  width: 90%;
  height: 60px;
  background-color: transparent;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  background-image: url("./Images/Travelog_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 60px;
}
.nav-content {
  width: 80%;
  height: 60px;
  margin-left: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Helvetica, Arial;
}
.nav-content a {
  text-decoration: none;
  color: #242424;
}
.signin-signup {
  /*   width: 50%;
  height: 60px;
  margin-left: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly; */
  margin-left: 60px;
}
.signin-signup button {
  height: 35px;
  width: 100px;
  border-radius: 40px;
  cursor: pointer;
}
.signin {
  background-color: transparent;
  border: 1px solid #ffff;
  color: #ffff;
  background-color: #242424;
}
.signup {
  border: none;
  margin-left: 20px;
}
.signin:hover {
  background-color: #3b3838;
}
.signup:hover {
  background-color: #e9e1e1;
}
/* .getstarted {
  width: 130px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #191919;
  color: #ffff;
  cursor: pointer;
  transition: 0.25 ease;
} */

.hero-section {
  background-image: url("./Images/hero_image.jpg");
  width: 100%;
  height: 455px;
  background-position: center;
  background-size: cover;

  border-bottom: 1px solid black;
}
.hero-message {
  margin-left: 90px;
  width: 560px;
  height: 455px;
  color: #ffff;
}
.hero-message h2 {
  font-size: 106px;
  font-weight: 400;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-feature-settings: "pnum", "lnum";
  letter-spacing: -5.3px;
  line-height: 95px;
  position: relative;
  top: 40px;
}
.message span p {
  width: 480px;
  height: 48px;
  font-size: 24px;
  font-weight: 2px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: 80px;
}
.btn2 {
  position: relative;
  top: 140px;
  width: 213px;
  height: 42px;
  background-color: #191919;
  color: #ffff;
  border-radius: 40px;
  border: none;
  background-attachment: scroll;
  background-clip: border-box;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* form css*/
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease;
}
.show-popup .blur-background {
  opacity: 1;
  pointer-events: auto;
}

.login {
  width: 485px;
  height: 665px;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.show-popup .login {
  opacity: 1;
  pointer-events: auto;

  /*   transition: 0.3s ease opacity 0.1s; */
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  color: rgb(17, 17, 17);
  transform: translate(420px, 20px);
}
.close-button:hover {
  background-color: rgb(234, 229, 229);
}

.travelog-logo {
  width: 200px;
  height: 45px;
  margin: auto;
  margin-top: 80px;

  background-image: url("./Images/Travelog_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.welcome {
  margin: 0px auto 22px;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.welcome h1 {
  display: block;
  font-size: 32px;
  color: rgb(51, 51, 51);
  font-weight: 600;
  letter-spacing: -1.2px;
  word-break: keep-all;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
    "ＭＳ Ｐゴシック", Arial, sans-serif;
}
.form-cotainer {
  width: 270px;
  height: 410px;
  margin: 0px auto;
}
.email {
  cursor: pointer;
  display: block;
  text-align: left;
  width: 260px;
  height: 18px;
}
.email label {
  color: rgb(33, 25, 34);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", Arial, sans-serif;
}
.email-container {
  color: rgb(33, 25, 34);

  width: 268px;
  height: 48px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", Arial, sans-serif;
  font-size: 18px;
  position: relative;
  top: 8px;
}
.email-container input {
  width: 100%;
  height: 48px;

  background-color: rgb(255, 255, 255);
  font-weight: 400;
  outline-color: rgb(42, 42, 236);

  border-radius: 16px;
  font-size: 16px;
  border: 2px solid rgb(205, 205, 205);
  padding-left: 8px;
  box-sizing: border-box;
}
.email-container:hover input {
  border: 3px solid rgb(180, 179, 179);
}

.password {
  cursor: pointer;
  display: block;
  text-align: left;
  width: 260px;
  height: 18px;
  position: relative;
}
.password label {
  color: rgb(33, 25, 34);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Arial, sans-serif;
}
.pass-container {
  color: rgb(33, 25, 34);

  width: 268px;
  height: 48px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", Arial, sans-serif;
  font-size: 18px;
  position: relative;
  top: 8px;
}
.pass-container input {
  width: 100%;
  height: 48px;

  background-color: rgb(255, 255, 255);
  font-weight: 400;
  outline-color: rgb(42, 42, 236);

  border-radius: 16px;
  font-size: 16px;
  border: 2px solid rgb(205, 205, 205);
  padding-left: 8px;
  box-sizing: border-box;
}
.pass-container:hover input {
  border: 3px solid rgb(180, 179, 179);
}

.eye {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 12px;
}

#icon1 {
  display: none;
}

.eye1 {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 12px;
}

#icon3 {
  display: none;
}

.submit-button {
  width: 268px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}
.submit-button button {
  width: 268px;
  height: 48px;
  border: 0px;
  display: inline-block;
  border-radius: 20px;
  padding: 0px 18px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: #a2d729;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
.submit-button:hover button {
  background-color: #91c41a;
}
.signup-button {
  width: 175px;
  height: 14px;

  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.signup-button .login-signup {
  background: none;
  display: block;
  border: none;
  color: rgb(51, 51, 51);
  font-weight: bold;
  cursor: pointer;
}

/* signup form css */
.signup-form {
  width: 485px;
  height: 665px;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* date of birth */
/* .dob {
  cursor: pointer;
  display: block;
  text-align: left;
  width: 260px;
  height: 18px;
  position: relative;
}
.dob label {
  color: rgb(33, 25, 34);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Arial, sans-serif;
}
.dob-container {
  color: rgb(33, 25, 34);

  width: 268px;
  height: 48px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", Arial, sans-serif;
  font-size: 18px;
  position: relative;
  top: 8px;
}
.dob-container .dob-input {
  width: 100%;
  height: 48px;
  cursor: text;
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  outline-color: rgb(42, 42, 236);

  border-radius: 16px;
  font-size: 16px;
  border: 2px solid rgb(205, 205, 205);
  padding-left: 8px;
  box-sizing: border-box;
}
.dob-input:hover {
  border: 3px solid rgb(180, 179, 179);
} */
.username {
  cursor: pointer;
  display: block;
  text-align: left;
  width: 260px;
  height: 18px;
  position: relative;
}
.username label {
  color: rgb(33, 25, 34);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Arial, sans-serif;
}
.username-container {
  color: rgb(33, 25, 34);

  width: 268px;
  height: 48px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", Arial, sans-serif;
  font-size: 18px;
  position: relative;
  top: 8px;
}
.username-container .username-input {
  width: 100%;
  height: 48px;
  cursor: text;
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  outline-color: rgb(42, 42, 236);

  border-radius: 16px;
  font-size: 16px;
  border: 2px solid rgb(205, 205, 205);
  padding-left: 8px;
  box-sizing: border-box;
}
.username-input:hover {
  border: 3px solid rgb(180, 179, 179);
}

/* Email input */
.email-signup {
  cursor: pointer;
  display: block;
  text-align: left;
  width: 260px;
  height: 18px;
  position: relative;
  top: 15px;
}
.email-signup label {
  color: rgb(33, 25, 34);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", Arial, sans-serif;
}
.email-signup-container {
  color: rgb(33, 25, 34);

  width: 268px;
  height: 48px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", Arial, sans-serif;
  font-size: 18px;
  position: relative;
  top: 20px;
}
.email-signup-container input {
  width: 100%;
  height: 48px;

  background-color: rgb(255, 255, 255);
  font-weight: 400;
  outline-color: rgb(42, 42, 236);

  border-radius: 16px;
  font-size: 16px;
  border: 2px solid rgb(205, 205, 205);
  padding-left: 8px;
  box-sizing: border-box;
}
.email-signup-container:hover input {
  border: 3px solid rgb(180, 179, 179);
}

/* signup Password input */

.password-signup {
  cursor: pointer;
  display: block;
  text-align: left;
  width: 260px;
  height: 18px;
  position: relative;
  top: 10px;
}
.password-signup label {
  color: rgb(33, 25, 34);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Arial, sans-serif;
}
.pass-signup-container {
  color: rgb(33, 25, 34);

  width: 268px;
  height: 48px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Hiragino Kaku Gothic Pro", Arial, sans-serif;
  font-size: 18px;
  position: relative;
  top: 20px;
}
.pass-signup-container input {
  width: 100%;
  height: 48px;

  background-color: rgb(255, 255, 255);
  font-weight: 400;
  outline-color: rgb(42, 42, 236);

  border-radius: 16px;
  font-size: 16px;
  border: 2px solid rgb(205, 205, 205);
  padding-left: 8px;
  box-sizing: border-box;
}
.pass-signup-container:hover input {
  border: 3px solid rgb(180, 179, 179);
}

/* submit button */
.submit-button-signup {
  width: 268px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}
.submit-button-signup button {
  width: 268px;
  height: 48px;
  border: 0px;
  display: inline-block;
  border-radius: 20px;
  padding: 0px 18px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: #a2d729;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.submit-button-signup:hover button {
  background-color: #91c41a;
}
.already-account {
  width: 268px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}
.already-account .already {
  color: rgb(17, 17, 17);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 400px;
  pointer-events: none;
}
.already-account .already-button {
  display: block;
  background: none;
  border: none;
  text-align: left;
  color: rgb(51, 51, 51);
  font-weight: bold;
  cursor: pointer;
}
.d-none {
  display: none;
}

.close-singup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  color: rgb(17, 17, 17);
  transform: translate(420px, 20px);
}
.close-singup:hover {
  background-color: rgb(234, 229, 229);
}
