* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.nav-bar {
  width: 90%;
  height: 60px;
  /*  background-color: rgb(166, 185, 202); */
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  background-image: url("./Images/Travelog_logo.png");
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
}

.profile {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.profile-circle {
  background-image: url("./Images/photo.jpg");
  background-size: cover;

  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.input-section .photo-container {
  width: 300px;
  height: 40px;
  background-color: #8ec117;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -440px;
  position: relative;
  bottom: 30px;
  border-radius: 5px;
}
.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 110px;
}

#title {
  width: 740px;
  height: 100px;
  padding: 10px;
  margin-bottom: 5px;

  /*  border: 1px solid #ccc;
      border-radius: 5px; */
  resize: none;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
  font-size: 42px;
}
textarea {
  width: 740px;
  height: 50px;
  padding: 10px;

  /*   border: 1px solid #ccc;
      border-radius: 5px; */
  outline-color: none;
  border: none;
  resize: none;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}
textarea:focus {
  outline: none;
}
.input-section #travel-lesson {
  width: 740px;
  height: 100px;
  margin-top: 20px;
}
#travel-lesson::placeholder {
  font-style: italic;
}
button {
  width: 120px;
  height: 35px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #8ec117;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Images/publish-icon.png");
  background-size: 24px 24px; /* Adjust image size */
  background-repeat: no-repeat;
  background-position: 10px center; /* Adjust image position */
}

.button:hover {
  background-color: #6f8e0b; /* Adjust hover background color as needed */
}

button:hover {
  background-color: #a2d729;
}
.button-section {
  margin-left: 350px;
  margin-top: 110px;
}
